In [1]:
import sklearn

In [2]:
sklearn.__version__

'0.24.2'

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("BackOrders.csv")

In [5]:
data.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1888279,117,NaN,0,0,0,0,0,0,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,1870557,7,2.0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,1475481,258,15.0,10,10,77,184,46,132,256,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,1758220,46,2.0,0,0,0,0,1,2,6,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,1360312,2,2.0,0,4,6,10,2,2,5,...,0,0.97,0.92,0,No,No,No,Yes,No,No

In [6]:
data.tail()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
61584,1397275,6,8.0,0,24,24,24,0,7,9,...,0,0.98,0.98,0,No,No,No,Yes,No,No
61585,3072139,130,2.0,0,40,80,140,18,108,230,...,0,0.51,0.28,0,No,No,No,Yes,No,No
61586,1909363,135,9.0,0,0,0,0,10,40,65,...,0,1.00,0.99,0,No,No,Yes,Yes,No,No
61587,1845783,63,NaN,0,0,0,0,452,1715,3425,...,0,-99.00,-99.00,1,No,No,No,No,No,Yes
61588,1200539,0,2.0,0,8,8,8,0,1,1,...,0,0.79,0.78,0,Yes,No,No,Yes,No,Yes

In [7]:
data.dtypes

sku                    int64
national_inv           int64
lead_time            float64
in_transit_qty         int64
forecast_3_month       int64
forecast_6_month       int64
forecast_9_month       int64
sales_1_month          int64
sales_3_month          int64
sales_6_month          int64
sales_9_month          int64
min_bank               int64
potential_issue       object
pieces_past_due        int64
perf_6_month_avg     float64
perf_12_month_avg    float64
local_bo_qty           int64
deck_risk             object
oe_constraint         object
ppap_risk             object
stop_auto_buy         object
rev_stop              object
went_on_backorder     object
dtype: object

In [8]:
#data.describe()
#data.describe(include="all")
data.describe(include="object")

,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
count,61589,61589,61589,61589,61589,61589,61589
unique,2,2,2,2,2,2,2
top,No,No,No,No,Yes,No,No
freq,61509,48145,61577,53792,59303,61569,50296

In [9]:
data.isnull().sum()

sku                     0
national_inv            0
lead_time            3403
in_transit_qty          0
forecast_3_month        0
forecast_6_month        0
forecast_9_month        0
sales_1_month           0
sales_3_month           0
sales_6_month           0
sales_9_month           0
min_bank                0
potential_issue         0
pieces_past_due         0
perf_6_month_avg        0
perf_12_month_avg       0
local_bo_qty            0
deck_risk               0
oe_constraint           0
ppap_risk               0
stop_auto_buy           0
rev_stop                0
went_on_backorder       0
dtype: int64

In [10]:
data.dropna(axis=0, inplace=True)

In [11]:
data.isnull().sum()

sku                  0
national_inv         0
lead_time            0
in_transit_qty       0
forecast_3_month     0
forecast_6_month     0
forecast_9_month     0
sales_1_month        0
sales_3_month        0
sales_6_month        0
sales_9_month        0
min_bank             0
potential_issue      0
pieces_past_due      0
perf_6_month_avg     0
perf_12_month_avg    0
local_bo_qty         0
deck_risk            0
oe_constraint        0
ppap_risk            0
stop_auto_buy        0
rev_stop             0
went_on_backorder    0
dtype: int64

In [12]:
data.drop('sku', axis=1, inplace=True)

In [13]:
data.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'],
      dtype='object')

In [14]:
data.dtypes

national_inv           int64
lead_time            float64
in_transit_qty         int64
forecast_3_month       int64
forecast_6_month       int64
forecast_9_month       int64
sales_1_month          int64
sales_3_month          int64
sales_6_month          int64
sales_9_month          int64
min_bank               int64
potential_issue       object
pieces_past_due        int64
perf_6_month_avg     float64
perf_12_month_avg    float64
local_bo_qty           int64
deck_risk             object
oe_constraint         object
ppap_risk             object
stop_auto_buy         object
rev_stop              object
went_on_backorder     object
dtype: object

In [15]:
data.nunique()

national_inv         2756
lead_time              28
in_transit_qty        894
forecast_3_month     1614
forecast_6_month     2185
forecast_9_month     2654
sales_1_month        1066
sales_3_month        1887
sales_6_month        2627
sales_9_month        3157
min_bank             1068
potential_issue         2
pieces_past_due       190
perf_6_month_avg      102
perf_12_month_avg     102
local_bo_qty          200
deck_risk               2
oe_constraint           2
ppap_risk               2
stop_auto_buy           2
rev_stop                2
went_on_backorder       2
dtype: int64

In [16]:
object_attrs = list(data.select_dtypes("object").columns)
object_attrs

['potential_issue',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [17]:
for attr in object_attrs:
    data[attr] = data[attr].astype("category")

In [18]:
data.dtypes

national_inv            int64
lead_time             float64
in_transit_qty          int64
forecast_3_month        int64
forecast_6_month        int64
forecast_9_month        int64
sales_1_month           int64
sales_3_month           int64
sales_6_month           int64
sales_9_month           int64
min_bank                int64
potential_issue      category
pieces_past_due         int64
perf_6_month_avg      float64
perf_12_month_avg     float64
local_bo_qty            int64
deck_risk            category
oe_constraint        category
ppap_risk            category
stop_auto_buy        category
rev_stop             category
went_on_backorder    category
dtype: object

In [19]:
data.nunique()

national_inv         2756
lead_time              28
in_transit_qty        894
forecast_3_month     1614
forecast_6_month     2185
forecast_9_month     2654
sales_1_month        1066
sales_3_month        1887
sales_6_month        2627
sales_9_month        3157
min_bank             1068
potential_issue         2
pieces_past_due       190
perf_6_month_avg      102
perf_12_month_avg     102
local_bo_qty          200
deck_risk               2
oe_constraint           2
ppap_risk               2
stop_auto_buy           2
rev_stop                2
went_on_backorder       2
dtype: int64

In [20]:
object_attrs

['potential_issue',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [21]:
object_attrs.remove("went_on_backorder")
cat_attrs = object_attrs

In [22]:
data = pd.get_dummies(data,columns=cat_attrs, prefix=cat_attrs, prefix_sep='_', drop_first=True)

In [23]:
data.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'pieces_past_due', 'perf_6_month_avg', 'perf_12_month_avg',
       'local_bo_qty', 'went_on_backorder', 'potential_issue_Yes',
       'deck_risk_Yes', 'oe_constraint_Yes', 'ppap_risk_Yes',
       'stop_auto_buy_Yes', 'rev_stop_Yes'],
      dtype='object')

In [24]:
X, y = data.drop("went_on_backorder", axis=1), data.went_on_backorder

In [25]:
type(X)

pandas.core.frame.DataFrame

In [26]:
type(y)

pandas.core.series.Series

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test   =  train_test_split(X, y, test_size=0.3, random_state=123)

In [29]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(58186, 21)
(40730, 21)
(17456, 21)

In [30]:
y_train.value_counts()/X_train.shape[0]

No     0.811859
Yes    0.188141
Name: went_on_backorder, dtype: float64

In [31]:
y_test.value_counts()/X_test.shape[0]

No     0.81061
Yes    0.18939
Name: went_on_backorder, dtype: float64

In [32]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score

In [33]:
#instantiate model object
dt_model = DecisionTreeClassifier()

In [34]:
# fit on train data
dt_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [35]:
y_train_pred = dt_model.predict(X_train)
y_test_pred = dt_model.predict(X_test)

In [36]:
confusion_matrix(y_true=y_train, y_pred=y_train_pred)

array([[33047,    20],
       [   69,  7594]])

In [37]:
confusion_matrix(y_true=y_test, y_pred=y_test_pred)

array([[13221,   929],
       [  767,  2539]])

In [38]:
print(accuracy_score(y_true=y_train, y_pred=y_train_pred))
print(accuracy_score(y_true=y_test, y_pred=y_test_pred))

0.9978148784679597
0.9028414298808433

In [39]:
dt_model.get_depth()

26

In [40]:
print(recall_score(y_true=y_train, y_pred=y_train_pred, pos_label='Yes'))
print(recall_score(y_true=y_test, y_pred=y_test_pred, pos_label='Yes'))

0.9909956935925878
0.7679975801572898

In [44]:
import pickle
with open('backorder.pkl', 'wb') as f:
    pickle.dump(dt_model, f)